<h1> Add a Category</h1>
<p> Addd a Category Here:</p>

<form action="/categories" method="post">
    <label for="categoryName">Category Name</label>
    <input id="categoryName" name="categoryName" type="text">
    <button type="submit">Add</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/categories">Back To Categories</a></p>